<div class="head">
  <img src="assets/img/blume2.jpg" alt="" class="blume" />
  <ul>
    <a href="#">Über mich</a>
    <a href="#">Wie ich arbeite</a>
    <a href="#">Schmerztherapie</a>
    <a href="#">HP-Ausbildung</a>
    <button class="kontakt" (click)="navigateTo()">Kontakt</button>
  </ul>
</div>
<div class="welcome">
  <img src="assets/img/kathrin.jpg" alt="" class="kathrin" />
  <div class="text">
    <h1 class="over-name">Naturheilpraxis für körperliche und seeliche Gesundheit</h1>
    <p class="name">Kathrin <span style="margin-left: 20px;">Stahl</span></p>
    
  </div>
</div>

