<app-header></app-header>

<div class="imgundtext">
  <div class="text">
    <div class="first-text">
      <p class="text-oben1">Naturheilpraxis für körperliche</p>
      <p class="text-oben2">und seelische Gesundheit</p>
    </div>
    <div class="name-beruf">
      <h1>Kathrin Stahl</h1>
      <p class="beruf">Heilpraktikerin & Prüfungscoach</p>
    </div>
  </div>
  <div class="img">
    <img src="assets/img/kathrin.jpg" alt="" />
  </div>
</div>

<div class="grid-container">
  <div id="item1" class="grid-item">
    <details>
      <summary>
        <span class="number">1</span>
        <h3>Schmerzbehandlung</h3>
      </summary>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, rem
          soluta quo aut dicta ut quis distinctio debitis aperiam alias?
        </p>
        <a class="link" href="/schmerzbehandlung">Mehr Informationen</a>
      </div>
    </details>
  </div>
  <div id="item2" class="grid-item">
    <details>
      <summary>
        <span class="number">2</span>
        <h3>Coaching</h3>
      </summary>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, rem
          soluta quo aut dicta ut quis distinctio debitis aperiam alias?
        </p>
        <a class="link" href="/coaching">Mehr Informationen</a>
      </div>
    </details>
  </div>
  <div id="item3" class="grid-item">
    <details>
      <summary>
        <span class="number">3</span>
        <h3>HP-Ausbildung</h3>
      </summary>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, rem
          soluta quo aut dicta ut quis distinctio debitis aperiam alias?
        </p>
        <a class="link" href="/ausbildung">Mehr Informationen</a>
      </div>
    </details>
  </div>
  <div id="item4" class="grid-item">
    <details>
      <summary>
        <span class="number">4</span>
        <h3>Astheische Kosmetik</h3>
      </summary>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, rem
          soluta quo aut dicta ut quis distinctio debitis aperiam alias?
        </p>
        <a class="link" href="/kosmetik">Mehr Informationen</a>
      </div>
    </details>
  </div>
  <div id="item5" class="grid-item">
    <details>
      <summary>
        <span class="number">5</span>
        <h3>Orthomolekulare Therapie</h3>
      </summary>
      <div class="text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, rem
          soluta quo aut dicta ut quis distinctio debitis aperiam alias?
        </p>
        <a class="link" href="/therapie">Mehr Informationen</a>
      </div>
    </details>
  </div>
</div>
